<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://images.pexels.com/photos/20205854/pexels-photo-20205854/free-photo-of-passenger-train-at-the-railway-station.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="200px">
</body>
</html>